.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.portfolio-item {
  background: var(--color-bg-variant);
  border-radius: 1rem;
  border: 2px solid transparent;
  transition: var(--transition);
}
.portfolio-item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}
.portfolio-content {
  padding: 1rem;
}
.portfolio-item-img {
  overflow: hidden;
}
.portfolio-item img{
  border-radius: 1rem 1rem 0 0;
  height: 8rem;
}
.portfolio-item h3 {
  margin: 1.2rem 0 1.2rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.button {
  width: max-content;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem 0.5rem;
  color: var(--color-primary);
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.button:hover {
  background: var(--color-primary);
  color: var(--color-bg);
  border-color: transparent;
}

/* ========== MEDIA QUERIES FOR MEDIUM DEVICES ========== */
@media screen and (max-width: 950px) {
  .portfolio-container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* ========== MEDIA QUERIES FOR SMALL DEVICES ========== */
@media screen and (max-width: 600px) {
  .portfolio-container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
