.container.contact-container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}
.contact-option {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  margin: 1rem 0;
  border-radius: 1.2rem;
  text-align: center;
  border: 2px solid transparent;
  transition: var(--transition);
}
.contact-option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}
.contact-icon {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.contact-option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 1rem 0;
}
input,
textarea {
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
}

/* ========== MEDIA QUERIES FOR MEDIUM DEVICES ========== */
@media screen and (max-width: 950px) {
  .container.contact-container {
    grid-template-columns: 1fr, 1fr;
    gap: 2rem;
  }
}
/* ========== MEDIA QUERIES FOR SMALL DEVICES ========== */
@media screen and (max-width: 600px) {
  .container.contact-container {
    width: var(--container-width-sm);
  }
}
